h1,
h2,
h3,
h4,
h5 {
  padding: 15px;
  font-family: "Capriola", sans-serif;
}

p {
  margin-left: 20px;
}

.amaze-txt {
  font-family: "Monoton", cursive;
  margin-right: 15px;
  font-size: 30px;
}

.react-bootstrap-table tr td {
  padding-left: 20px;
}

.react-bootstrap-table th {
  padding-left: 20px;
}

nav {
  font-size: 23px;
}
