.me-auto {
  margin-left: 70px;
}

.navbar .nav-link {
  padding-right: 20px !important;
  font-family: "Capriola", sans-serif;
  font-size: 20px;
}

.amaze-txt {
  font-family: "Monoton", cursive;
  margin-right: 15px;
  font-size: 33px;
}
